body {
    margin: 0;
}

.container {
    height: 950px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: pink;
}

.gatinho {
    display: flex;
    flex-direction: column;
    align-items: center;

}
