body{
    height: 600px;
    margin: 0;
    background: rgb(13, 41, 13);
    background-image: url(./otgw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* 
.img__serie{
    width: 100%;
} */

.logo__play{
    position: absolute;
    width: 8%;
    bottom: 3vw;
    right: 5vh;
}

.logo{
    position: absolute;
    width:400px;
    top: 3vh;
    right: 5vw;
}

.logo__serie{
    width: 100%;
}